<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PortfolioDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=sgipcdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="AdminUsername" value="admin"/>
    <add key="AdminPassword" value="admin123"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>